.dropdown-select {
    position: relative;
    padding: var(--input-padding);
    background: var(--bg-primary-2);
    border-bottom: 1px solid var(--bg-secondary);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    cursor: pointer;
}

.dropdown-select .header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropdown-select .label {
    color: var(--clr-text-light);
    font-size: var(--fs-small);
}

.dropdown-select .options {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    max-height: 200px;
    background: var(--bg-primary-1);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    box-shadow: 0px 1px 6px var(--clr-text-dark);
    overflow: auto;
    z-index: 1;
    transition: 0.25s;
}

.dropdown-select .options.disabled {
    max-height: 1px;
    opacity: 0.25;
}

.dropdown-select .options p {
    padding: 7px 11px;
}

.dropdown-select .options p:not(:last-child) {
    border-bottom: var(--border);
}

.dropdown-select .options p:hover {
    background: var(--bg-primary-3);
}