.dropdown-select {
    position: relative;
}

.dropdown-select .header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropdown-select .options {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    max-height: 200px;
    background: var(--bg-primary-1);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    box-shadow: 0px 1px 6px var(--clr-text-dark);
    overflow: auto;
    z-index: 1;
}

.dropdown-select .options p {
    padding: var(--input-padding);
}

.dropdown-select .options p:not(:last-child) {
    border-bottom: var(--border);
}

.dropdown-select .options p:hover {
    background: var(--bg-primary-3);
}