.text-area:not(:last-child) {
    margin-bottom: var(--spacing-small);
}


.text-area .label {
    color: var(--clr-text-light);
    font-weight: 500;
}

.text-area textarea {
    padding: var(--spacing-small);
}