/* Header */

#header {
  background: var(--bg-secondary);
  padding: 10px;
}

#header img {
  display: block;
  width: 70px;
  margin: auto;
  border-radius: 50%;
}

/* Inputs Container */

#inputs-container {
  display: flex;
  gap: 1rem;
  background: var(--bg-primary-2);
  padding: 1rem 3rem;
}

#inputs-container .add-patient {
  font-weight: 500;
}

/* Main Area */

#main-area {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

#main-area .row {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  background: var(--bg-primary-2);
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 5px var(--clr-text-light);
}

#main-area .row img {
  width: 32px;
  opacity: 0.5;
}

#main-area .row .name {
  font-weight: 500;
}

/* Reusable styles */

input[type="text"],
textarea {
  min-width: 100%;
  width: 0;
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  font: inherit;
  text-overflow: ellipsis;
}

textarea {
  resize: none;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: var(--input-padding);
  background: var(--bg-primary-1);
  border: var(--border);
  border-radius: var(--pill);
  box-shadow: 1px 1px 5px var(--clr-border);
}

.input-box.disabled {
  opacity: 0.5;
}

.input-box img {
  width: 1rem;
  opacity: 0.5;
}

.form-input-box {
  padding: var(--input-padding);
  border-bottom: 2px solid var(--bg-secondary);
}

.form-input-box .label {
  color: var(--clr-text-light);
  font-size: var(--fs-small);
}

.grow {
  flex: 1 0 auto;
}

.pointer {
  cursor: pointer;
}