#main-area {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

#main-area .row {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    background: var(--bg-primary-2);
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 5px var(--clr-border);
}

#main-area .row img {
    width: 32px;
    opacity: 0.5;
}

#main-area .row .input-container {
    cursor: pointer;
}