/* Header */

#header {
  background: var(--bg-secondary);
  padding: 10px;
}

#header img {
  display: block;
  width: 70px;
  margin: auto;
  border-radius: 50%;
}

/* Inputs Container */

#inputs-container {
  display: flex;
  gap: 1rem;
  background: var(--bg-primary-2);
  padding: 1rem 15%;
  box-shadow: 0px 2px 4px var(--clr-border);
}

/* Main Area */

#main-area {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

#main-area .row {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  background: var(--bg-primary-2);
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 5px var(--clr-text-light);
}

#main-area .row img {
  width: 32px;
  opacity: 0.5;
}

#main-area .row .name {
  font-weight: 500;
}
