/* Header */

#header {
  background: var(--bg-secondary);
  padding: 10px;
}

#header img {
  display: block;
  width: 70px;
  margin: auto;
  border-radius: 50%;
}

/* Inputs Container */

#inputs-container {
  display: flex;
  gap: 1rem;
  background: var(--bg-primary-2);
  padding: 1rem 15%;
  box-shadow: 0px 2px 4px var(--clr-border);
}

/* Main Area */

#main-area {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
}

#main-area .row {
  flex: 0 0 calc(50% - 0.75rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  background: var(--bg-primary-2);
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 4px var(--clr-text-light);
}

#main-area .row .patient-icon {
  width: 32px;
  opacity: 0.5;
}

#main-area .row .edit-icon {
  width: var(--fs-large);
  opacity: 0.5;
}

#main-area .row .name {
  font-weight: 500;
}

#main-area .dropdown-edit {
  display: flex;
  position: relative;
}

#main-area .dropdown-edit .options {
  position: absolute;
  top: calc(100% + var(--spacing-small));
  right: 0;
  background: white;
  border: 2px solid var(--clr-text-light);
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 5px var(--clr-text-light);
  overflow: hidden;
  z-index: 1;
}

#main-area .dropdown-edit .options p {
  padding: var(--input-padding);
  font-weight: 500;
  text-align: center;
  animation: dropdown-edit 0.25s ease;
}

#main-area .dropdown-edit .options p:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

#main-area .dropdown-edit .options p:hover {
  background: var(--bg-primary-3);
}

/* Keyframes */

@keyframes dropdown-edit {
  /* 0% {
    transform: scaleY(0) translateY(-50%);
  }
  100% {
    transform: scaleY(1);
  } */
  0% {
    font-size: 0;
    padding: 0;
  }
}
