/* Medical Record */

#medical-record {
  pointer-events: none;
}

#medical-record .session-log-form:not(:last-child) {
  margin-bottom: 1rem;
}

.mr-section-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.mr-section-header:not(:first-child) {
  margin-top: 2rem;
}

.mr-section-header .line {
  flex: 1;
  height: 2px;
  background: var(--clr-border);
}

.mr-section-header h2 {
  font-size: var(--fs-largest);
}

/* Registration Form */

#registration-form .row {
  display: flex;
  gap: 1.5rem;
}

#registration-form .row:not(:last-child) {
  margin-bottom: 11px;
}

#registration-form .row > * {
  flex: 1;
}

/* Anamnesis Form */

#anamnesis-form section:not(:last-child) {
  margin-bottom: var(--fs-largest);
}

#anamnesis-form h2 {
  margin-bottom: 11px;
  font-size: var(--fs-large);
  font-weight: 500;
  text-align: center;
}

/* Session Log Editor */

#session-logs-viewer .session-log {
  justify-content: center;
  border: 1px solid var(--bg-secondary);
}

#session-logs-viewer .session-log:not(:last-child) {
  margin-bottom: 11px;
}

#session-logs-viewer .session-log:hover {
  background: var(--bg-primary-2);
}

#session-logs-viewer .session-log p {
  color: var(--clr-text-light);
  font-size: var(--fs-large);
}

.del-session-log-tip {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  color: var(--clr-text-light);
  font-size: var(--fs-small);
}

.del-session-log-tip .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(1rem + 2px);
  height: calc(1rem + 2px);
  background: var(--clr-text-light);
  color: var(--bg-primary-1);
  border-radius: 50%;
}

/* .session-log-add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    background: var(--bg-secondary);
    color: white;
    border: 1px solid var(--clr-text-light);
    border-radius: 50%;
    font-size: 36px;
    font-weight: 500;
    box-shadow: 1px 1px 5px var(--clr-text-light);
} */

/* Session Log Form */

input[type="date"] {
  display: block;
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  font: inherit;
  cursor: text;
}

.session-log-form input[type="date"] {
  margin: auto;
  margin-bottom: var(--spacing-small);
  padding: var(--input-padding);
  border: var(--border);
  border-radius: var(--pill);
}
