.select {
    position: relative;
    padding: var(--input-padding);
    background: var(--bg-primary-2);
    border-bottom: 1px solid var(--bg-secondary);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    cursor: pointer;
}

.select .header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.select .label {
    color: var(--clr-text-light);
    font-size: var(--fs-small);
}

.select .options {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    min-width: 100%;
    max-height: 200px;
    background: var(--bg-primary-1);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    box-shadow: 0px 1px 6px var(--clr-text-dark);
    overflow: auto;
    z-index: 1;
}

.select .options p {
    text-align: center;
    padding: 7px 11px;
}

.select .options p:not(:last-child) {
    border-bottom: var(--border);
}

.select .options p:hover {
    background: var(--bg-primary-3);
}

/* Scrollbar */
.select ::-webkit-scrollbar {
    width: 6px;
}

.select ::-webkit-scrollbar-track {
    background: var(--clr-border);
}

.select ::-webkit-scrollbar-thumb {
    background: var(--clr-text-light);
}