.select {
    margin-bottom: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid var(--bg-primary-3);
}

.select .label {
    color: var(--clr-text-light);
    font-weight: 500;
    margin-bottom: var(--spacing-small);
}

.select .options {
    display: flex;
    gap: 1rem;
}

.select .option {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
}

.select .checkbox,
.select .radiobox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(1rem + 3px);
    height: calc(1rem + 3px);
    background: var(--bg-primary-2);
    border: 1px solid var(--bg-secondary);
}

/* Checkbox */
.select .checkbox img {
    width: calc(100% - 4px);
    opacity: 0.5;
}

/* Radiobox */
.select .radiobox {
    border-radius: 50%;
}

.select .radiobox .fill {
    background: black;
    opacity: 0.5;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
}